
* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    /* background-color: #e6e0dc; */
}

body {
    /* background: darkcyan; */
    /* background: #d2fdff; */
    /* background: #e6e0dc; */
}

#sidebuttons {
    position: fixed;
    right: 0;
    top: 0;
}

.sidebutton {
    float: right;
}

/* #exportbutton { */
/*     position: fixed; */
/*     right: 0; */
/*     top: 10; */
/* } */
/*  */
/* #importbutton { */
/*     position: fixed; */
/*     right: 0; */
/*     top: 20; */
/* } */

#tuned_outer_way {
    background: white;
    /* background-color: #e6e0dc; */
    /* width: 50%; */
    max-width: 750px;
    margin: auto;
    /* padding: 10px; */
    /* height: 100%; */
}

#middle_way {
    background: white;
    /* background-color: #e6e0dc; */
    width: 90%;
    margin: auto;
    /* height: 100%; */
}

.piece {
    padding: 30px;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
}

#topbar {
    background-color: #e6e0dc;
    margin-bottom: 60px;
    padding: 10px;
    height: 20px;
}

hr {
    color: #ffcdcd;
    width: 55%;
}

#broadcasts_holder {
    background-color: white;
}

#current_login {
    /* position: absolute; */
    /* right: 0px; */
    color: grey;
    padding-left: 30px;
    font-size: .7em;
}

.username {
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 25px;

    float: left;
}

.betweenusernameandtimestamp {
    background-color: white;
    float: left;
}

.timestamp {
    background-color: #e6e0dc;
    font-weight: italic;
    text-align: right;
    font-size: .8em;
    width: 70%;
    padding-right: 10px;
    border-radius: 10px;

    float: right;
}

.broadcast {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.broadcast_footer {
    background-color: #e6e0dc;
}

.bcontent_container {
    background-color: white;
    margin: 20px;
    padding: 20px;
    word-wrap: break-word;
}

#stationname {
    float: left;
}

#current_login {
    float: left;
}

#morepseudobutton {
    float: right;
    text-align: right;
}

#moreinside {
    display: none;
    padding: 50px;
}
