{% extends 'web3-base.html' %}

{% block html_language %} {{ htmllang }} {% endblock %}

{% block title %} Add supported networks {% endblock %}

{% block css_imports %}
  {{ super() }}
  <link  href="{{ url_for('static', filename='styles/add-network.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
  {{ super() }}
{% endblock %}

{% block div_outerWay %}
    <div id="veryTempBigText">stations.network</div>
    <h1>Add supported chains to Metamask</h1>
    {# <button id="addEthereum">Ethereum</button><br/> #}
    <button id="addPolygon">Polygon</button><br/>
    <button id="addAvalanche">Avalanche</button><br/>
    <button id="addFantom">Fantom</button><br/>
    <button id="addHarmony">Harmony</button><br/>
{% endblock %}
