<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add supported chains to Metamask</title>

    <link href="https://fonts.googleapis.com/css?family=Commissioner" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"
      integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk="
      crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/info-and-utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/add-network.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/add-network.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

  </head>

  <body>

    <h1>Add supported chains to Metamask</h1>

    <button id="addPolygon">Add Polygon</button><br/>
    <button id="addAvalanche">Add Avalanche</button><br/>
    <button id="addFantom">Add Fantom</button><br/>
    <button id="addHarmony">Add Harmony</button><br/>

  </body>

</html>
