<!DOCTYPE html>
<html lang     = {% block html_language %}"en"{% endblock %}
      chain    = "{{ chain }}"
      contract = "{{ contract }}"
      version  = "{{ version }}"
      debug    = "{{ debug }}"
      scrollto = "{{ scrollto }}">

  {% block head %}
  <head>

    {% block metatags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='assets/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='assets/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='assets/favicon-16x16.png') }}">
    <link rel="manifest"
          href="{{ url_for('static', filename='assets/site.webmanifest') }}">
    <link rel="mask-icon" color="#5bbad5"
          href="{{ url_for('static', filename='assets/safari-pinned-tab.svg') }}">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config"
          content="{{ url_for('static', filename='assets/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    {% endblock %} <!-- ends metatags -->

    <title>[stations.network] - {% block title %} {% endblock %}</title>

    {% block fontimports %}
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap"
      rel="stylesheet">
    {% endblock %}

    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous" rel="stylesheet">

    {% block javascript_imports %}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% endblock %}

    {% block css_imports %}
    <link  href="{{ url_for('static', filename='styles/base-style.css') }}" rel="stylesheet">
    {% endblock %}

    {% block other_link_elements %}
    <link  href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon">
    {% endblock %}

  </head>
  {% endblock %} <!-- ends head -->

  {% block containsbody %}
  {% endblock %}

</html>
