{% extends 'base.html' %}

{% block html_language %} {{ htmllang }} {% endblock %}

{% block title %} debug-info {% endblock %}

{% block javascript_imports %}
  {{ super() }}
    <script src="{{ url_for('static', filename='js/detect-if-mobile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/debug-info.js') }}"></script>
{% endblock %}

{% block body %}
  {% if htmllang=="en" %}
  {% elif htmllang=="es" %}
  {% else %}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block containsbody %}
<body>
  <div id="very-temp-big-text">stations.network</div>
  <div id="home-content">
    <div id="user-agent">
      {{ user_agent }}
    </div>
    <br/> <br/>
    <div id="viewport-dimensions">
    </div>
    <div id="is-mobile-or-desktop-div">
    </div>
    <br/> <br/>
    <div id="all-headers">
      {{ all_headers }}
    </div>
    <br/> <br/>
    <div>
      <span id="date-now">
    </div>

  </div>
</body>
{% endblock %}



