<!DOCTYPE html>
<html chain="{{ chain }}" contract="{{ contract }}">
  <title>tuning</title>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
          integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
          crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='dapp-2.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style-2.css') }}">
  <body>



    <div id="tuned_outer_way">

      <div id="topbar">

        <div id="tmp">
          <div id="stationname">tuning</div>

          <div id="current_login">logged in as: </div>

          <div id="morepseudobutton">&#9660;</div>
        </div>
        <br/>

        <!-- TODO: place these better -->
        <div id="sidebuttons">
          <button id="connectbutton">Connect wallet</button>
          <button id="exportbutton">Export broadcasts</button>
          <button id="importbutton">Import broadcasts</button>
        </div>

        <div id="moreinside">
          <textarea id="thebroadcast" cols="50" rows="3">(broadcast)</textarea>
          <br/>
          <!-- <textarea id="forgedtimestamp" cols="25" rows="1">forge timestamp</textarea> -->
          <!-- <br/> -->
          <button id="broadcastthis">Broadcast</button>
        </div>

      </div>

      <div id="middle_way">

        <div id="broadcasts_holder">
        </div>


      </div>
    </div>

  </body>
</html>
