{% extends 'tune-head.html' %}

{% block microblog %}

  <body>

    <div id="outerWay">

      <div id="stationHeader">
        <hr/>
        <div id="stationName">tuning</div>
        <div id="stationDescription"></div>
        <hr/>
      </div>

      <div id="stationActions">
        <button id="connectButton"></button>
        <button id="exportButton" disabled>Export broadcasts</button>
        <button id="composeButton">Compose</button>
        <button id="debugConsoleButton">Debug console</button>
      </div>

      <div id="middleWay">
        <div id="broadcastsHolder">
        </div>
      </div>
    </div>


    <!-- TODO -->
    <div id="composition-modal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Compose broadcast</div>
          <div id="composition-modal-close" class="modal-close">&#9679;</div>
        </div>
        <div class="modal-body">

          <details>
            <summary class="broadcastTypeForm">Raw HTML broadcast</summary>
            <textarea id="rawHTML_compositionArea" class="compositionArea"
                      rows="5" placeholder="content"></textarea>
            <br/><br/>
            <button id="rawHTML_broadcastButton">Broadcast</button>
            <br/><br/>
          </details>

          <details>
            <summary class="broadcastTypeForm">Raw HTML broadcast (forged timestamp)</summary>
            <textarea id="forgedTimeArea" rows="1" placeholder="forged timestamp"></textarea>
            <br/><br/>
            <textarea id="rawHTMLForgedTimestamp_compositionArea"
                      class="compositionArea" rows="5"
                      placeholder="content"></textarea>
            <br/><br/>
            <button id="rawHTMLForgedTimestamp_broadcastButton">Broadcast</button>
            <br/><br/>
          </details>

          <!-- TODO: the javascript doesn't specify different broadcast types.
                     Right now, it converts it all into raw HTML.
                     Eventually, they'll be separate `render...` function
                     for the different broadcast types and the "content" will
                     simply be JSON -->

          <!-- TODO: this is terrible! no escaping! -->

          <details>
            <summary class="broadcastTypeForm">Image</summary>
            <textarea id="imageURL" rows="1" placeholder="URL to image"></textarea>
            <br/><br/>
            <textarea id="altText" rows="1" placeholder="alt text"></textarea>
            <br/><br/>
            <textarea id="imageCaption" rows="1" placeholder="image caption"></textarea>
            <br/><br/>
            <button id="image_broadcastButton">Broadcast</button>
            <br/><br/>
          </details>

        </div>
      </div>
    </div>     <!-- end composition modal -->


    <div id="debug-console-modal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Debug console</div>
          <span id="debug-console-modal-close" class="modal-close">&#9679;</span>
        </div>
        <div class="modal-body">
          <div id="debugContainer">
            <textarea class="debug-related" readonly rows="20" id="debugArea">
            </textarea>
          </div>
        </div>
      </div>
    </div>     <!-- end debug console modal -->


    <div id="edit-modal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Edit broadcast</div>
          <span id="edit-modal-close" class="modal-close">&#9679;</span>
        </div>
        <div class="modal-body">
          <textarea id="editArea" rows="5"></textarea>
          <br/><br/>
          <button id="editButton">Submit edit</button>
          <br/><br/>
        </div>
      </div>
    </div>     <!-- end edit modal -->


  </body>

{% endblock %}

