{% extends 'tune-head.html' %}

{% block microblog %}

  <body>

    <div id="entire-page">

      <div id="very-top-strip">
      </div>

      <div id="between-strips">

        <div id="left-gutter">
        </div>

        <div id="outer-way">

          <div id="station-header">

            <hr/>
            <div id="inside-header">
              <div id="first-inside-header">
              </div>
              <div id="name-and-description">
                <div id="station-name">tuning</div>
                <div id="station-description"></div>
              </div>
              <div id="station-image-container">
              </div>
              <div id="station-button-container">
                <img id="station-button"
                     src="{{ url_for('static', filename='assets/logo-circle.svg') }}"
                     width="77"
                     height="77"/>
              </div>
            </div>
            <hr/>

            <div id="under-header">
              <div id="station-actions">
                <button id="connect-button"></button>
                <button id="export-button" disabled>Export broadcasts</button>
                <button id="debug-console-button">Debug console</button>
                <button id="import-button">Import</button>
                <button id="compose-button">Compose</button>
                <button id="change-user-metadata-button">Change user metadata</button>
              </div>
            </div>

          </div>

          <div id="below-header">
            <div id="stage-left"> </div>
            <div id="middle-way">
              <div id="broadcasts-holder"> </div>
            </div>
            <div id="stage-right"> </div>
          </div>

        </div>

        <div id="right-gutter">
        </div>

      </div>

      <div id="very-bottom-strip">
      </div>

    </div>


    <!-- TODO -->
    <div id="composition-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Compose broadcast</div>
          <div id="composition-modal-close" class="modal-close">&#9679;</div>
        </div>
        <div class="modal-body">

          <details>
            <summary class="broadcast-type-form">Raw HTML broadcast</summary>
            <textarea id="rawHTML_composition-area" class="composition-area"
                      rows="5" placeholder="content"
                      spellcheck="true"></textarea>
            <br/><br/>
            <button id="rawHTML_broadcast-button">Broadcast</button>
            <br/><br/>
          </details>


          <!-- TODO: needs to be escaped -->
          <details>
            <summary class="broadcast-type-form">Song</summary>
            <textarea id="artist" rows="1" placeholder="name of artist"></textarea>
            <br/><br/>
            <textarea id="songtitle" rows="1" placeholder="song title"></textarea>
            <br/><br/>
            <textarea id="youtubelink" rows="1" placeholder="link to video on youtube"></textarea>
            <br/><br/>
            <textarea id="lyrics" rows="5" placeholder="lyrics"></textarea>
            <br/><br/>
            <button id="jam_broadcast-button">Broadcast</button>
            <br/><br/>
          </details>


        </div>
      </div>
    </div>     <!-- end composition modal -->


    <div id="debug-console-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Debug console</div>
          <span id="debug-console-modal-close" class="modal-close">&#9679;</span>
        </div>
        <div class="modal-body">
          <div id="debug-container">
            <textarea class="debug-related" readonly rows="20" id="debug-area">
            </textarea>
          </div>
        </div>
      </div>
    </div>     <!-- end debug console modal -->


    <div id="edit-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Edit broadcast</div>
          <span id="edit-modal-close" class="modal-close">&#9679;</span>
        </div>
        <div class="modal-body">
          <textarea id="edit-area" rows="5"></textarea>
          <br/><br/>
          <button id="edit-button">Submit edit</button>
          <br/><br/>
        </div>
      </div>
    </div>     <!-- end edit modal -->

    <div id="reply-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Reply to broadcast</div>
          <span id="reply-modal-close" class="modal-close">&#9679;</span>
        </div>
        <div class="modal-body">
          <textarea id="reply-area" rows="5"></textarea>
          <br/><br/>
          <button id="reply-button">Reply</button>
          <br/><br/>
        </div>
      </div>
    </div>     <!-- end reply modal -->

    <div id="import-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Import broadcasts from another Station</div>
          <span id="import-modal-close" class="modal-close">&#9679;</span>
        </div>
        <div class="modal-body">
          <textarea id="import-area" rows="5" placeholder="copy and paste JSON from a station export here"></textarea>
          <br/><br/>
          <button id="do-import-button">Import</button>
          <br/><br/>
        </div>
      </div>
    </div>     <!-- end import modal -->

    <div id="change-user-metadata-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Change user metadata</div>
          <span id="change-user-metadata-modal-close" class="modal-close">&#9679;</span>
        </div>
        <div class="modal-body">
          <textarea id="user-metadata-area" rows="5" placeholder="JSON"></textarea>
          <br/><br/>
          <button id="do-change-user-metadata-button">Change metadata</button>
          <br/><br/>
        </div>
      </div>
    </div>     <!-- end import modal -->


  </body>

{% endblock %}

