{% extends 'base.html' %}

{% block title %}
tuning
{% endblock %}

{% block manifest %}
  <link rel="manifest"
    href="{{ url_for('static', filename='manifests/site.webmanifest') }}">
{% endblock %}

{% block javascript_imports %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/dapp.js') }}" type="module"></script>
{% endblock %}

{% block css_imports %}
  {{ super() }}
    <link  href="{{ url_for('static', filename='styles/generations.css') }}" rel="stylesheet">
{% endblock %}

{% block containsbody %}
{% block microblog %}

  <body>

    <!-- DELETE -->
    <section id="toast-holder">
    </section>

    <div id="station-button-container">
      <img id="station-button"
           src="{{ url_for('static', filename='assets/logo-circle.svg') }}"
           width="77"
           height="77"/>
    </div>


    <!-- -------------------------------------------------------- -->

    <div id="station-button-popup">

      <div id="main_station-button-popup-container" class="station-button-popup-container">
        <button id="connect-button" class="station-button-popup-button thesis-button">Connect</button>
        <div id="top-wedge" class="wedge"></div>
        <button id="export-button" class="station-button-popup-button regular-button" disabled>Export broadcasts</button>

        <button id="change-user-metadata-button" class="station-button-popup-button regular-button">Change user metadata</button>

        {# <button id="import-button" class="station-button-popup-button">Import</button> #}

        <button id="compose-button" class="station-button-popup-button thesis-button">Compose</button>

        <div id="bottom-wedge" class="wedge"></div>
        <!-- TODO: logout should remove private key from cache -->
        <button id="disconnect-button" class="station-button-popup-button antithesis-button">Log Out</button>
      </div>

      <div id="connect_station-button-popup-container" class="station-button-popup-container">
        <button id="metamask-connect-button" class="station-button-popup-button thesis-button">Connect with Metamask</button>
        <button id="priv-key-connect-button" class="station-button-popup-button thesis-button">Connect with private key</button>
        <button id="other-connect-button" class="station-button-popup-button regular-button" disabled>Connect (other)</button>
        <div class="wedge"></div>
        <button id="back-from-connect-pane-button" class="station-button-popup-button antithesis-button">&lt; back</button>
      </div>

      <div id="compose_station-button-popup-container" class="station-button-popup-container">
        <button id="raw-html-compose-button" class="station-button-popup-button regular-button">Raw HTML</button>
        <button id="jam-compose-button" class="station-button-popup-button regular-button">That's My Jam</button>
        <div class="wedge"></div>
        <button id="back-from-compose-pane-button" class="station-button-popup-button antithesis-button">&lt; back</button>
      </div>

      <div id="change_user_metadata_station-button-popup-container" class="station-button-popup-container">
          <button id="change-username-button" class="station-button-popup-button regular-button">Change username</button>
          <button id="change-pfp-button" class="station-button-popup-button regular-button">Change profile photo</button>
          <button id="change-theme-button" class="station-button-popup-button regular-button" disabled>Change theme</button>
          <button id="change-raw-metadata-button" class="station-button-popup-button regular-button">Change raw metadata (expert)</button>
        <div class="wedge"></div>
        <button id="back-from-change-user-metadata-pane-button" class="station-button-popup-button antithesis-button">&lt; back</button>
      </div>

      <div id="change-pfp-button-popup-container" class="station-button-popup-container">
          <button id="change-pfp-via-link-button" class="station-button-popup-button regular-button">Provide a link to new profile photo</button>
          <button id="change-pfp-via-upload-button" class="station-button-popup-button regular-button" disabled>Upload new profile photo</button>
        <div class="wedge"></div>
        <button id="back-from-change-pfp-pane-button" class="station-button-popup-button antithesis-button">&lt; back</button>
      </div>

    </div>

    <!-- -------------------------------------------------------- -->


    <!-- -------------------------------------------------------- -->

    <div id="operation-popup" class="modal">

      <div id="raw-html-composition-container" class="operation-modal-content">
        <div class="operation-modal-header">
          <div class="operation-modal-title">Compose broadcast</div>
        </div>
        <div id="raw-html-hidden-info" class="hidden-info" parent=0></div>
        <textarea id="raw-html-composition-area" class="operation-text-area clearable"
                  rows="7"
                  placeholder="content"
                  spellcheck="true"></textarea>
        <button id="raw-html-broadcast-button"
          class="station-operation-popup-button thesis-button make-change">
          Broadcast
        </button>
        <button id="raw-html-cancel-button"
          class="station-operation-popup-button antithesis-button">
          Cancel
        </button>
      </div>

      <div id="jam-composition-container" class="operation-modal-content">
        <div class="operation-modal-header">
          <div class="operation-modal-title">Compose broadcast</div>
        </div>
        <textarea id="jam-artist" class="operation-text-area" rows="1" placeholder="name of artist"></textarea>
        <textarea id="jam-songtitle" class="operation-text-area" rows="1" placeholder="song title"></textarea>
        <textarea id="jam-youtubelink" class="operation-text-area" rows="1" placeholder="link to video on youtube"></textarea>
        <textarea id="jam-lyrics" class="operation-text-area"
                  rows="7"
                  placeholder="an excerpt of lyrics... or your thoughts"
                  spellcheck="true"></textarea>
        <button id="jam-broadcast-button"
          class="station-operation-popup-button thesis-button">
          Broadcast
        </button>
        <button id="jam-cancel-button"
          class="station-operation-popup-button antithesis-button">
          Cancel
        </button>
      </div>

      <div id="change-username-container" class="operation-modal-content">
        <div class="operation-modal-header">
          <div class="operation-modal-title">Change username</div>
        </div>
        <input type="text" id="new-username-field" class="operation-input" placeholder="new username"></input>
        <button id="new-username-submit-button"
          class="station-operation-popup-button thesis-button">
          Submit
        </button>
        <button id="new-username-cancel-button"
          class="station-operation-popup-button antithesis-button">
          Cancel
        </button>
      </div>

      <div id="change-pfp-link-container" class="operation-modal-content">
        <div class="operation-modal-header">
          <div class="operation-modal-title">Change profile photo</div>
        </div>
        <input id="new-pfp-link-field" type="text" class="operation-input" placeholder="link to new profile photo"></input>
        <!-- TODO: maybe fetch and render it? -->
        <button id="new-pfp-link-submit-button"
          class="station-operation-popup-button thesis-button">
          Submit
        </button>
        <button id="new-pfp-link-cancel-button"
          class="station-operation-popup-button antithesis-button">
          Cancel
        </button>
      </div>

      <div id="change-raw-metadata-container" class="operation-modal-content">
        <div class="operation-modal-header">
          <div class="operation-modal-title">Change raw user metadata</div>
        </div>
        <textarea id="raw-metadata-area" class="operation-text-area"
                  rows="7"
                  placeholder="raw metdata"></textarea>
        <button id="new-raw-metadata-submit-button"
          class="station-operation-popup-button thesis-button">
          Submit
        </button>
        <button id="new-raw-metadata-cancel-button"
          class="station-operation-popup-button antithesis-button">
          Cancel
        </button>
      </div>

      <div id="priv-key-connect-operation-container" class="operation-modal-content">
        <div class="operation-modal-header">
          <div class="operation-modal-title">Connect with private key</div>
        </div>
        <input id="priv-key-connect-operation-input" type="password" class="operation-input clearable" placeholder="private key"></input>
        <button id="priv-key-connect-operation-button"
          class="station-operation-popup-button thesis-button">
          Connect
        </button>
        <button id="priv-key-connect-operation-cancel-button"
          class="station-operation-popup-button antithesis-button">
          Cancel
        </button>
      </div>



    </div>

    <!-- -------------------------------------------------------- -->



    <!-- -------------------------------------------------------- -->
    <div id="entire-page">

      <div id="very-top-strip"> </div>

      <div id="between-strips">

        <div id="left-gutter"> </div>

        <div id="outer-way">

          <div id="station-header">

            <hr/>

            <div id="inside-header">
              <div id="first-inside-header">
              </div>
              <div id="name-and-description">
                <div id="station-name">tuning</div>
                <div id="station-description"></div>
              </div>
              <div id="station-image-container">
              </div>
            </div>
            <hr/>
          </div>

          <div id="below-header">
            <div id="stage-left"> </div>
            <div id="middle-way">
              <div id="broadcasts-holder"> </div>
            </div>
            <div id="stage-right"> </div>
          </div>

        </div>

        <div id="right-gutter">
        </div>

      </div>

      <div id="very-bottom-strip">
      </div>

    </div>
    <!-- -------------------------------------------------------- -->


    <div id="debug-console">
      <div id="debug-container">
        <textarea readonly rows="20" id="debug-area">
        </textarea>
      </div>
    </div>


    <div id="import-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Import broadcasts from another Station</div>
          <span id="import-modal-close" class="modal-close">&#9679;</span>
        </div>
        <div class="modal-body">
          <textarea id="import-area" class="operation-text-area" rows="7" placeholder="copy and paste JSON from a station export here"></textarea>
          <br/><br/>
          <button id="do-import-button">Import</button>
          <br/><br/>
        </div>
      </div>
    </div>     <!-- end import modal -->


  </body>

{% endblock %}
{% endblock %}


        {# <button id="enc-wallet-connect-button" class="station-button-popup-button thesis-button">Connect with encrypted wallet</button> #}

      {# <!-- experimental --> #}
      {# <div id="enc-wallet-connect-operation-container" class="operation-modal-content"> #}
      {#   <div class="operation-modal-header"> #}
      {#     <div class="operation-modal-title">Connect with encrypted JSON wallet</div> #}
      {#   </div> #}
      {#   <textarea id="enc-wallet-connect-operation-area" class="operation-text-area" #}
      {#             rows="7" #}
      {#             placeholder="copy and paste JSON wallet here"></textarea> #}
      {#   <input id="enc-wallet-connect-operation-password-input" type="password" class="operation-input" placeholder="password"></input> #}
      {#   <button id="enc-wallet-connect-operation-button" #}
      {#     class="station-operation-popup-button thesis-button"> #}
      {#     Connect #}
      {#   </button> #}
      {#   <button id="enc-wallet-connect-operation-cancel-button" #}
      {#     class="station-operation-popup-button antithesis-button"> #}
      {#     Cancel #}
      {#   </button> #}
      {# </div> #}
