{% extends 'tune-head-5.html' %}

{% block microblog %}

  <body>

    <div id="outerWay">

      <hr/>

      <div id="stationName">tuning</div>
      <br/>
      <div id="stationDescription"></div>

      <hr/>
      <button id="connectButton"></button>
      <button id="composeButton">Compose</button>
      <button id="exportButton">Export broadcasts</button>
      <br/> <br/> <br/>

      <div id="middleWay">
        <div id="broadcastsHolder">
        </div>
      </div>
    </div>

    <div id="debugContainer">
      <br/> <br/> <br/>
      <br/> <br/> <br/>
      <textarea cols="40" rows="20" id="debugArea">
      </textarea>
    </div>

    <!-- TODO -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          Compose broadcast
          <span class="close">&times;</span>
        </div>
        <div class="modal-body">
          <textarea id="compositionArea" cols="40" rows="3">content</textarea>
          <br/>
          <button id="broadcastButton">Broadcast!</button>
        </div>
      </div>
    </div>

  </body>

{% endblock %}

