<!DOCTYPE html>
<html chain="{{ chain }}"
      contract="{{ contract }}"
      version="{{ version }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TODO -->
    <!-- <meta name="description" content="Free Web tutorials"> -->
    <!-- <meta name="keywords" content="HTML, CSS, JavaScript"> -->
    <!-- <meta name="author" content="John Doe"> -->

    <title>tuning</title>

    <!-- TODO get the hash (integrity) -->
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>

    <script src="{{ url_for('static', filename='info-and-utils-4.js') }}"></script>
    <script src="{{ url_for('static', filename='dapp-4.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-4.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/favicon.ico') }}">

  </head>

  {% block microblog %}{% endblock %}

</html>
