<!DOCTYPE html>
<html chain    = "{{ chain }}"
      contract = "{{ contract }}"
      debug    = "{{ debug }}"
      scrollto = "{{ scrollto }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>tuning</title>

    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap">

    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"
      integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk="
      crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chains.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flags-and-permissions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dapp.js') }}"></script>
    <link  href="{{ url_for('static', filename='styles/generations.css') }}" rel="stylesheet">
    <link  href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon">

  </head>

  {% block microblog %}{% endblock %}

</html>
