
:root {
    --BackgroundColor: white;
    --BroadcastBackgroundColor: white;
    --OuterWayWidth: 744px;
}

* {
    font-family: Commissioner, Helvetica, Arial, sans-serif;
}

html, body {
    background: var(--BackgroundColor);
}

#debugArea {
    font-family: monospace;
}

#debugContainer {
    display: none;
}

#debugConsoleButton {
    display: none;
}

#composeButton {
    display: none;
}

#importButton {
    display: none;
}

#stationName {
    font-size: 3em;
    margin-bottom: 14px;
    color: black;
}

#stationDescription {
    color: black;
}

#outerWay {
    background: var(--BackgroundColor);
    max-width: var(--OuterWayWidth);
    margin: auto;
}

#middleWay {
    background: var(--BackgroundColor);
    margin: auto;
    max-width: 95%;
}


hr {
    background-color: #850101b8;
    width: 100%;
    border: none;
    height: 1px;
}

#broadcastsHolder {
    background: var(--BackgroundColor);
    display: flex;
    flex-direction: column;
}

.username {
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.broadcastTimestamp {
    background-color: #e6e0dc;
    text-align: right;
    font-size: .8em;
    width: 100%;
    padding-right: 10px;
    height: 0%;
}

.broadcast {
    background: var(--BroadcastBackgroundColor);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

@media screen and (min-width: 450px) {
    .broadcast {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.broadcastContentContainer {
    /* background-color: white; */
    /* margin: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.broadcastContent {
    font-weight: 300 !important;
}

.broadcastContent audio, img, video {
    max-width: 100%;
}

.reply.broadcast {
    width: 90%;
    margin-left: auto;
    padding: 0px;
    margin-top: 48px;
    margin-bottom: 0px;
}

.reply.broadcastFooter {
    /* visibility: hidden; */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #092156a6;
    margin: auto;
    padding: 0;
    width: 80%;
    /* height: 80%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover, .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal-body {
    padding: 14px 5px;
    margin: auto;
    text-align: center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


summary.broadcastTypeForm {
    text-align: left;
    margin-bottom: 12px;
    color: white;
}

textarea {
    /* width: 95%; */
    width: 99%;
    border-radius: 7px;
}

textarea.debug-related {
    width: 100%;
}

details {
    border: 1px solid #aaa;
    border-radius: 7px;
    padding: 0.5em 0.5em 0;
    margin: 15px;
}

.broadcastHeader {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.broadcastActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* visibility: hidden; */
}

.broadcastFooter {
    height: 1px;
    /* background-color: #850101b8; */
    background-color: #e6e0dc;
    margin-top: 14px;
}

.bcast-action {
    border: none;
    margin-left: 5px;
    font-size: .7em;
}

.modal-title {
    width: 100%;
}


.modal-header {
    background-color: #092156;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#stationHeader {
    padding: 10px;
    border-radius: 10px;
}

#stationActions {
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    padding: 10px;
}

.thats-my-jam-video {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 361px;
}

.thats-my-jam-lyrics {
    margin-bottom: 35px;
}

